@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* banner */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: "Azeret Mono", monospace;
    width: 100%;
    height: 5245px; 
    border: 2px solid blue;
}

/* banner */

.banner-container{
   min-width: 1440px;
    height: 652px;
    border: 2px solid red;
    background-image: url(assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* banner content */

.banner-img{
    margin-bottom: 32px;
}

.banner-text-1{
    width: 998px;
    height: 136px;
    color: #000000;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 141.667% */
    margin-bottom: 24px;
}

.banner-text-2{
    width: 852px;
    height: 52px;
    color: #000000;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 32px;
}

.banner-contact-box{
    width: 195px;
    height: 50px;
    display: flex;
    padding: 21px 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;  
    border-radius: 8px;
    background: #0D1321;
}

.banner-contact-box p{
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* why web dev */

.web-dev-container{
  
    width: 1140px;
    height: 1393px;
    padding: 80px 97px;
    margin: 0 auto;
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: 2px solid black;
}

.part-1{
    text-align: center;
    margin-bottom: 48px;
}

.part-1 h3{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.part-1 p{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


.part-2{

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 48px;
}

.part-2-1{
    display: flex;
    width: 477px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.part-2-1 h3{
    width: 390px;
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
.part-2-1 p{
    width: 468px;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.part-2-1 span{
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #0D1321;
    opacity: 0.7;
}
.part-2-2{
    display: flex;
    width: 274.169px;
    height: 240px;
    padding: 3.767px 13.664px 19.221px 0.941px;
    align-items: center;
    flex-shrink: 0;
}

.part-3{

    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.part-3-2{
    display: flex;
    width: 477px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.part-3-2 h3{
    width: 477px;
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
}
.part-3-2 p{
    width: 468px;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.part-3-2 span{
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #0D1321;
    opacity: 0.7;
}


.part-3-1{
    width: 240px;
    height: 240px;
}